@import url('https://fonts.googleapis.com/css2?family=Federo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Potta+One&display=swap');
.container{
    margin: 0 auto;
    max-width: 1280px;
}
.page{
    background-color: #FFFFFF;
}
.nav{
    display: flex;
}
.text-logo{
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-size: 38px;
    color: #565759;
    margin-top: 25px;
    margin-right: 257px;
}
.items{
    display: inline-block;
    margin-top: 41px;
}
.link{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #697390;
    margin-right: 25px;
    margin-top: 41px;
    text-decoration: none;
}
.items-list{
    display: block;
    margin: 41px 37px 0 196px;
}
.items-2{
    display: inline-block;
}
.btn-box{
    border: none;
    background-color: #FFFFFF;
    margin-left: 38px;
}
.offer{
    display: flex;
    align-items: center;
}
.offer-img{
    margin-top: 130px;
}
.offer-text{
    margin-left: 110px;
}
.offer-title{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #3A3A3A;
    margin-bottom: 25px;
}
.offer-button{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #434343;
    text-transform: uppercase;
}
.best-title-1{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #3A3A3A;
    padding-top: 35px;
    text-align: center;
}
.best-cards{
    padding: 41px 0  148px 0;
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;
    justify-content: center;
}
.card{
    display: inline-block;
    width: 255px;
    border: 0.2px solid rgb(216, 216, 216);
    text-align: center;
    margin-right: 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
}
.card-2{
    display: inline-block;
    width: 350px;
    border: 0.2px solid rgb(216, 216, 216);
    text-align: center;
    margin-right: 30px;
    background-color: #FFFFFF;
    position: relative;
}
.best-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2A2A2B;
    box-sizing: border-box;
}
.best-price{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #8C8C8C;
    margin: 15px 0 25px 0;
}
.best-img{
    height: 150px;
    object-fit: cover; 
    padding: 50px 20px;
}
.mini-img-1{
    position: absolute; 
    right: 10px;
    bottom: 150px;
    border: 0.2px solid #454545;
    padding: 6px;
}
.mini-img-2{
    position: absolute; 
    right: 10px;
    bottom: 115px;
    border: 0.2px solid #454545;
    padding: 6px;
}
.mini-img-3{
    position: absolute; 
    right: 10px;
    bottom: 80px;
    border: 0.2px solid #454545;
    padding: 6px;
}
.best-hot{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px 20px;
    background-color: #F29731;
    position: absolute;
    right: 0;
    top: 20px;
    text-transform: uppercase;
}
.best-sale{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px 19px;
    background-color: #9E0B0F;
    position: absolute;
    right: 0;
    top: 60px;
}
.best-sale-1{
    padding: 6px 23px;
}
.deal-wrapper{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    position: relative;
}
.deal-ellipse{
    margin: 35px 104px 36px 211px;
}
.deal-armchair{
    width: 356px;
    position: absolute;
    left: 300px;
    bottom: 200px;
}
.deal-text{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 34px;
    background-color: #8096BC;
}
.deal-sale{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #3A3A3A;
    margin-top: 49px;
}
.deal-sale-span{
    color: #78A2CA;
}
.deal-text-2{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #727272;
    margin-top: 28px;
}
.deal-button{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #434343;
    margin: 28px 0 25px 0;
    text-transform: uppercase;
}
.deal-img{
    display: inline-block;
    text-align: center;

}
.deal-pic{
    width: 43px;
    height: 63px;
    position: absolute;
}
.deal-pic-1{
    right: 375px;
    bottom: 120px;
}
.deal-pic-2{
    right: 285px;
    bottom: 120px;
}
.deal-pic-3{
    right: 195px;
    bottom: 120px;
}
.deal-pic-4{
    right: 105px;
    bottom: 120px;
}
.trend-main-title{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #3A3A3A;
    padding: 130px 0 80px 0;
    text-align: center;
}
.trend-list-img{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 140px;
    box-shadow: 0 0 2px rgb(139, 139, 139);
    padding: 20px 0 27px;
}
.trend-img{
    text-align: center;
    
}
.trend-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #757575;
    margin: 15px 0 21px;
    text-transform: uppercase;
}
.trend-cards{
    padding: 41px 0  148px 0;
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;
    justify-content: center;
}
.trend-card{
    display: inline-block;
    width: 255px;
    border: 0.2px solid rgb(216, 216, 216);
    text-align: center;
    margin-right: 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
}
.best-img{
    height: 150px;
    object-fit: cover; 
    padding: 50px 20tpx;
}
.footer{
    background-color: #bebebe;
}
.text-logo2{
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-size: 45px;
    color: #424346;
    padding: 61px 0 40px;
    text-align: center;
}
.footer-title-list{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding-bottom: 30px;
}
.footer-link{
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #444444;
}
.footer-item{
    padding-bottom: 15px;
}
.footer-about{
    display: inline-block;
    text-align: left;
    margin: 0 90px 100px 80px;
}
.footer-copyright{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A7A;
    background-color: #FFFFFF;
    text-align: center;
    padding: 25px;
}