@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.container{
    max-width: 1240px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        max-width: 425px;
    }
}
.header{
    background-color: #F9F6F5;
}
.header-container{
    background-color: #F9F6F5;
    padding-top: 40px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .header-logo{
        font-size: 20px;
    }
}
.logo{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #222222;
    text-decoration: none;
    border-bottom: 3px solid #222222 ;
}

.header-list{
    display: flex;
    column-gap: 40px;
}
@media screen and (max-width: 768px) {
    .header-list{
        column-gap: 20px;
    }
}
@media screen and (max-width: 425px) {
    .header-list{
       display: none;
    }
}
.header-link{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}
.header-icons{
    display: flex;
    column-gap: 29px;
}
@media screen and (max-width: 768px) {
    .header-icons{
        column-gap: 20px;
    }
}
.header-button{
    background-color: transparent;
    border: none;
}
.offer{
    display: flex;
    justify-content: space-between;
}
.offer-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #222222;
    margin-top: 122px;
}
@media screen and (max-width: 1024px) {
    .offer-title{
        font-size: 46px;
        line-height: 60px;
    }
}
@media screen and (max-width: 768px) {
    .offer-title{
        font-size: 38px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 425px) {
    .offer-title{
        font-size: 20px;
        margin-top: 70px;
        line-height: 30px;
    }
}

.offer-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #222222;
    margin-top: 16px;
}
@media screen and (max-width: 1024px) {
    .offer-description{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 768px) {
    .offer-description{
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) {
    .offer-description{
        display: none;
    }
}
.offer-search{
    display: inline-flex;
    position: relative;
}
.offer-input{
    border: none;  
    outline: none;  
    padding: 14px 0 14px 16px;  
    width: 320px;
    color: #999999;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}
@media screen and (max-width: 425px) {
    .offer-input{
        width: 200px;
        padding: 10px 0 10px 14px;  
    }
}
.offer-search-button{
    background-color: #402F2C;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;  
    margin-top: 30px;
}
.img-button{
    display: flex;
    width: 16px;
}
.offer-button{
    margin-top: 74px;
}
@media screen and (max-width: 1024px) {
    .offer-button{
        margin-top: 50px;
    }
}
.Shop-now{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #402F2C;
    padding: 16px 32px;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .Shop-now{
        font-size: 17px;
        padding: 10px 25px;
    }
}
@media screen and (max-width: 425px) {
    .Shop-now{
        font-size: 13px;
        padding: 7px 20px;
    }
}
.offer-img{
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .offer-pic{
        max-width: 375px;
    }
}
@media screen and (max-width: 425px) {
    .offer-pic{
        max-width: 200px;
    }
}
.partners{
    margin: 120px 0;
    background-color: #FFFFFF;
}
.partners-container{
    display: flex;
    column-gap: 120px;
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
    padding: 52px 30px 42px 30px;
}
@media screen and (max-width: 1206px) {
    .partners-container{
        column-gap: 100px;
    }
}
@media screen and (max-width: 1024px) {
    .partners-container{
        column-gap: 80px;
    }
}
@media screen and (max-width: 748px) {
    .partners-container{
       flex-wrap: wrap;
       row-gap: 40px;
    }
}
@media screen and (max-width: 768px) {
    .partners-container{
        column-gap: 46px;
    }
}
@media screen and (max-width: 1206px) {
    .partners-img{
       max-width: 85px;
    }
}
@media screen and (max-width: 768px) {
    .partners-img{
       max-width: 80px;
    }
}
.popular{
    background-color: #FFFFFF;
}
.popular-text{
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin-bottom: 60px;
}
.popular-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
}
@media screen and (max-width: 1024px) {
    .popular-title{
        font-size: 50px;
        line-height: 65px;
    }
}
@media screen and (max-width: 768px) {
    .popular-title{
        font-size: 40px;
    }
}
@media screen and (max-width: 425px) {
    .popular-title{
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
    }
}
.popular-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    .popular-description{
        font-size: 18px;
        line-height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .popular-description{
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) {
    .popular-description{
        display: none;
    }
}
.popular-link{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
}
@media screen and (max-width: 768px) {
    .popular-link{
        font-size: 18px;
    }
}
@media screen and (max-width: 425px) {
    .popular-link{
        font-size: 15px;
    }
}
.popular-vector{
    margin-left: 8px;
}
.popular-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
@media screen and (max-width: 768px) {
    .popular-cards{
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 1206px) {
    .popular-img{
        max-width: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .popular-img{
        max-width: 495px;
    }
}
@media screen and (max-width: 768px) {
    .popular-img{
        max-width: 330px;
    }
}

@media screen and (max-width: 425px) {
    .popular-card-2{
        display: none;
    }
}
.popular-border{
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-bottom: 32px;
    padding-left: 32px;
}
.popular-cosmetic{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #222222;
    margin-bottom: 15px;
    padding-top: 98px;
}
@media screen and (max-width: 768px) {
    .popular-cosmetic{
        font-size: 20px;
        padding-top: 60px;
    }
}
.popular-card-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
}
@media screen and (max-width: 768px) {
    .popular-card-description{
        font-size: 14px;
    }
}
.popular-button{
    color: #FFFFFF;
    padding: 16px 32px;
    background-color: #402F2C;
    border: none;
    margin-right: 24px;
    margin-top: 66px;
}
@media screen and (max-width: 768px) {
    .popular-button{
        padding: 10px 26px;
        margin-right: 15px;
        margin-top: 50px;
    }
}
.popular-button-2{
    color: #402F2C;
    padding: 16px 32px;
    background-color: #fff;
    border: 1px solid #685A5275;
    margin-right: 43px;
}
@media screen and (max-width: 768px) {
    .popular-button-2{
        padding: 10px 26px;
        margin-right: 25px;
    }
}
.popular-price{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    color: #222222;
}
@media screen and (max-width: 768px) {
    .popular-price{
        font-size: 22px;
        display: flex;
        margin-top: 10px;
    }
}
.statistic{
    background-color: #FDF8F5;
}
.statistic-container{
    background-color: #FDF8F5;
    display: flex;
    justify-content: space-around;
    padding: 58px 0;
}
@media screen and (max-width: 768px) {
    .statistic-container{
        padding: 38px 0;
    }
}
@media screen and (max-width: 425px) {
    .statistic-container{
        padding: 20px 0;
    }
}
.statistic-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #222222;
}
@media screen and (max-width: 768px) {
    .statistic-title{
        font-size: 40px;
    }
}
@media screen and (max-width: 425px) {
    .statistic-title{
        font-size: 23px;
    }
}
.statistic-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #555555;
}
@media screen and (max-width: 768px) {
    .statistic-description{
        font-size: 18px;
    }
}
@media screen and (max-width: 425px) {
    .statistic-description{
        font-size: 14px;
    }
}
.perfect-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfect-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
    .perfect-title{
        font-size: 45px;
    }
}
@media screen and (max-width: 768px) {
    .perfect-title{
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 425px) {
    .perfect-title{
        font-size: 19px;
        line-height: 30px;
    }
}
.perfect-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
    .perfect-description{
        font-size: 14px;
        line-height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .perfect-description{
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 425px) {
    .perfect-description{
        line-height: 15px;
    }
}
.perfect-text{
    margin-bottom: 20px;
}
@media screen and (max-width: 425px) {
    .perfect-text{
        display: none;
    }
}
.perfect-img{
    margin: 130px 0;
}
@media screen and (max-width: 1024px) {
    .perfect-img-style{
        max-width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .perfect-img-style{
        max-width: 340px;
    }
}
@media screen and (max-width: 425px) {
    .perfect-img-style{
        max-width: 220px;
    }
}
.review-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-img{
    margin-bottom: 130px;
}
@media screen and (max-width: 1024px) {
    .review-img-style{
        max-width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .review-img-style{
        max-width: 370px;
    }
}
@media screen and (max-width: 425px) {
    .review-img-style{
        max-width: 170px;
    }
}
.review-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
    .review-title{
        font-size: 17px;
        line-height: 30px;
    }
}
@media screen and (max-width: 425px) {
    .review-title{
        font-size: 15px;
        line-height: 20px;
    }
}
.review-stars{
    display: flex;
    gap: 14px;
    margin-bottom: 43px;
}
@media screen and (max-width: 768px) {
    .review-stars{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 425px) {
    .review-stars{
        gap: 10px;
    }
}
@media screen and (max-width: 425px) {
    .review-star{
        max-width: 15px;
    }
}
.review-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 27px;
}
@media screen and (max-width: 1024px) {
    .review-description{
        font-size: 14px;
        line-height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .review-description{
        font-size: 13px;
        line-height: 20px;
    }
}

.review-title-2{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 6px;
}
@media screen and (max-width: 768px) {
    .review-title-2{
        font-size: 17px;
        line-height: 30px;
    }
}
@media screen and (max-width: 425px) {
    .review-title-2{
        font-size: 15px;
        line-height: 10px;
    }
}
.review-designer{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #555555;
}
@media screen and (max-width: 768px) {
    .review-designer{
        font-size: 15px;
        line-height: 30px;
    }
}
@media screen and (max-width: 425px) {
    .review-designer{
        font-size: 13px;
        line-height: 10px;
    }
}
.footer{
    background-color: #FAFAFA;
}
.footer-container{
    background-color: #FAFAFA;
}
.footer-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 108px 0 64px 0;
}
@media screen and (max-width: 1024px) {
    .footer-subscribe{
        padding: 60px 0 30px 0;
    }
}
.footer-title{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #222222;
}
@media screen and (max-width: 1024px) {
    .footer-title{
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    .footer-title{
        font-size: 20px;
        line-height: 30px;
    }
}
@media screen and (max-width: 425px) {
    .footer-title{
        font-size: 15px;
        line-height: 20px;
    }
}
.footer-search{
    display: flex;
    position: relative;
}
.footer-input{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    padding: 18px 0 18px 18px;
    border: none;
    outline: none;
    width: 386px;
}
@media screen and (max-width: 768px) {
    .footer-input{
        font-size: 15px;
        width: 350px;
    }
}
@media screen and (max-width: 425px) {
    .footer-input{
        font-size: 15px;
        width: 200px;
    }
}
.footer-button{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #402F2C;
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 8px 20px;
}
@media screen and (max-width: 425px) {
    .footer-button{
        font-size: 14px;
        line-height: 10px;
        right: 8px;
        top: 8px;
        padding: 7px 10px;
    }
}
.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-logo{
    font-size: 40px;
    display: inline-flex;
    margin-top: 59px;
}
@media screen and (max-width: 768px) {
    .footer-logo{
        font-size: 30px;
    }
}
@media screen and (max-width: 425px) {
    .footer-logo{
        font-size: 20px;
        margin-top: 0;
    }
}
.footer-description{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-top: 38px;
}
@media screen and (max-width: 768px) {
    .footer-description{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 425px) {
    .footer-description{
        display: none;
    }
}
.footer-title-2{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 39px;
    align-items: end;
    margin-top: 84px;
}
@media screen and (max-width: 768px) {
    .footer-title-2{
        font-size: 17px;
        line-height: 20px;
        margin-top: 80px;
    }
}
.footer-items{
    margin-bottom: 20px;
}
.footer-link{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    margin-top: 38px;
    text-decoration: none;
    list-style: none;
}
.footer-icons{
    display: inline-flex;
    justify-content: space-between;
    gap: 26px;
}
